[submodule "subfile"]
    path = subfile
    url = https://github.com/Bono123445678/subfile.git

[submodule "subfile2"]
    path = subfile2
    url = https://github.com/Teto12356/Subfile2.git

[submodule "subfile3"]
    path = subfile3
    url = https://github.com/Beno12345678/Subfile3.git

[submodule "subfile4"]
    path = subfile4
    url = https://github.com/Toto1234788/subfile4.git

[submodule "subfile5"]
    path = subfile5
    url = https://github.com/Wero6483628/Subfile5.git
